body {
  background-color: #eaeaea;
}

.ui {
  &.main {
    &.container {
      padding-top: 6rem;
      padding-bottom: 2rem;
    }
  }

  .card {
    div.image {
      min-height: 150px;

      img {
        height: 100% !important;
        object-fit: cover;
      }
    }
  }
}

.react-datepicker-wrapper {
  width: 100%;
}
